@import '../../constants';

.liked_page {
    background-color: $main-bg-color;
}

.liked_title_wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -20px;

    .liked_title {
        font-size: 6.4rem;
        font-weight: 700;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 2.4rem;
            font-weight: 500;
            color: $text-second-color;
            &:first-child {
                font-family: 'Inria Sans';
                letter-spacing: 5px;
                font-weight: 700;
            }
        }
    }
}

.action_row {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.liked_btns_wrapper {
    button {
        margin-left: 10px;
        
    }
}