@import '../../../constants';

header {
    height: 100px;
    background: linear-gradient(180deg, $accent-gradient-color 0%, rgba(255,205,255,0.1) 100%);
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0 0;
    transition: 0.5s all ease;
    span {
        font-size: 3.6rem;
        font-weight: bold;
        margin-left: 50px;
    }
}

.style_settings {
    margin: 30px 50px 0 50px;
}

.style {
    font-size: 2.8rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.style_ul {
    font-size: 1.8rem;
    font-weight: 600;
    li {
        margin: 30px 0;
    }
}

.color_li {
    display: flex;
    align-items: center;
}

.color_picker {
    width: 45px;
    height: 45px;
    margin-right: 45px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.li_item_color {
    margin-right: 45px;
}

.bg_color_1 {
    background-color: #091E2A;
}

.bg_color_2 {
    background-color: #1C1C1C;
}

.bg_color_3 {
    background-color: #2B3033;
}

.bg_color_4 {
    background-color: #181E34;
}

.accent_color_1 {
    background-color: #E62C36;
}

.accent_color_2 {
    background-color: #18F2B2;
}

.accent_color_3 {
    background-color: #E422A2;
}

.active_color {
    box-shadow: 0 0 8px 1px #ffffff;
}

.font_ul {
    display: flex;
}

.font_selector {
    font-size: 1.8rem;
    height: 30px;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 45px;
    cursor: pointer;
}

.active_font_selector {
    border-color: $accent-color;
    background-color: $accent-color;
    box-shadow: 0 0 8px 1px $accent-color;
}

h1 {
    color: $accent-color;
}