@import '../../constants';

.App {
    height: calc(100svh - 20px);
    background-color: $second-bg-color;
    padding: 10px;
}

.app_wrapper {
    display: flex;
    gap: 10px;
    height: calc(100% - 80px);
}