@import '../../constants';

.auth_error_page {
    width: 100%;
    height: calc(100svh - 100px);
    animation: fade-in 1s ease;

    main {
        height: 100%;
        box-sizing: border-box;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            margin-bottom: 50px;
            span {
                font-size: 4rem;
                font-weight: 700;
            }
        }

        svg {
            width: 150px;
            height: 150px;
            color: $error-color;
            margin-bottom: 50px;
        }
    }
}