@import '../../constants';

.nav_panel {
    font-weight: bold;
    font-size: 1.6rem;
    width: calc(100% - 60px);
    flex: 0 0 100px;
    background-color: $main-bg-color;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    .nav_wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
    }

    .nav_icon {
        fill: $text-color;
        width: 1.9rem;
        height: 1.9rem;
        margin-right: 30px;
    }

    .nav_btn {
        cursor: pointer;
        transition: 0.25s all ease-in;
        display: flex;
        align-items: center;
        
        .nav_icon {
            transition: 0.25s all ease-in;
            fill: $text-color;
        }

        @media (hover: hover) {
            &:hover {
                color: $accent-color;
                
                .nav_icon {
                    fill: $accent-color;
                }
            }

        }
    }

    .current_window {
        color: $accent-color;

        .nav_icon {
            fill: $accent-color;
        }
    }
}