@import '../../constants';

.aside_liked_track_list {
    width: 360px;
    flex: 0 1 360px;
    background-color: $main-bg-color-for-blur;
    border-radius: 10px;
    margin-top: 10px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aside_artist_list {
    background-color: $main-bg-color-for-blur;
    border-radius: 10px;
    margin-top: 10px;
    overflow: scroll;
    width: 360px;
    flex: 1 1 150px;
    padding: 10px;
    box-sizing: border-box;
}