$accent-color: #5E37CC;
$accent-color-hover: #4927a8;

$text-color: #E0DCEA;
$text-second-color: #C5C4C6;
$text-disable-color: #919095;

$main-bg-color: #1B1A1C;
$main-bg-color-for-blur: #2b2a2d53;
$main-bg-color-for-notification: #1b1a1cac;

$second-bg-color: #141414;
$second-bg-color-for-blur: #141414b8;
$inputs-bg-color: #2B2A2D;
$disabled-bg-color: #232224;

$stroke-light: #c5c4c652;

$error-color: #C84141;
$error-color-hover: #ab3939;
$success-color: #4EBA3C;

