@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './constants';

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  caret-color: $text-second-color;
  
}

html {
    font-size: 10px;
    background-color: $main-bg-color;
}

a {
    color: $text-color;
    text-decoration: none;
}


svg {
    transition: 0.3s color ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}